<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyrie.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kyrie.pojo.User">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="company" property="company" />
        <result column="addr" property="addr" />
        <result column="phone" property="phone" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, company, addr, phone
    </sql>

    <select id="selectByAge" resultType="com.kyrie.pojo.User" parameterType="integer">
        select Base_Column_List
        from tb_user
        where age = #{age}
    </select>

    <select id="findById" resultType="com.kyrie.pojo.User" parameterType="integer">
        select * from test_user where id = #{id}
    </select>

</mapper>
